{% extends 'auctions/base.html' %} {% block title %} About | Digital Auction {% endblock %} {% block body %} {% include 'auctions/header.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> \
<div class="wrapper-about">
    <div class="text-title" style="color: red !important">
        About Digital Auction
    </div>
    <h4>A Platform to Buy in and Sell Out</h4>
    <p class="text-responsive">
        <span style="font-size: larger">A</span>n online auction (or also electronic auction or e-auction or eAuction) is an auction which is held over the internet. The scope and reach of these auctions have been propelled by the Internet to a level
        beyond what the initial purveyors had anticipated. This is mainly because online auctions break down and remove the physical limitations of traditional auctions such as geography, presence, time, space, and a small target audience.
    </p>
    <p class="text-responsive">
        Digital Auction is a platform for Government Departments to conduct online actions for sale and purchase. It removes all barriers of geography, presence, time, space, and a small target audience. Propelled by a versatile, safe and secured engine developed
        by National Informatics Centre, many users have witnessed multi fold increase in revenue in auctions conducted over a diverse range.
    </p>
</div>

{% include 'auctions/footer.html' %} {% endblock %}