<footer class="mainfooter custom-footer" role="contentinfo">
    <!-- <div class="footer-top p-y-2">
        <div class="container-fluid">

        </div>
    </div> -->
    <div class="footer-middle mt-2">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Address</h4>
                        <address>
              <ul class="list-unstyled">
                <li>
                  Zetech University, <br />
                  Kazungu Heights,<br />
                  Annex Building.<br />
                </li>
              </ul>
            </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>About Company</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'index' %}">Go to Home Page</a></li>
                            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Useful Links</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'display_category' %}">Ongoing Auctions</a>
                            </li>
                            <li>
                                <a href="{% url  'closed_listings' %}">Closed Auctions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled">
                            <li><a href="mailto:kazungutracy711.com">Email Us</a></li>
                            <li>
                                <i class="fa fa-phone" style="font-size: 18px"></i> &nbsp;0750912870
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <!--Footer Bottom-->

                    <p class="text-xs-center">
                        &copy; Copyright 2022 Zetech University Designed by
                        <a href="#" target="_blank">Kazungu Tracy Chao </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>