{% extends 'auctions/base.html' %}

{% block title %}Terms & Conditions | {% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
{% endblock %}


{% block body %}

{% include 'auctions/header.html' %}

<div class="terms-wrapper">

    <h1 class="text-center text-title">Terms & Conditions</h1>
    <h2>Limitations of Liability</h2>

    <div class="terms-details">
        We will not be liable for indirect, special, or consequential damages (or any loss of revenue, profits, or data)
        arising
        in connection with this Agreement or the Program, even if we have been advised of the possibility of such
        damages.
        Further, our aggregate liability arising with respect to this Agreement and the Program will not exceed the
        total
        referral fees paid or payable to you under this Agreement.
        Winning bidder must complete the payment process after the listing is closed.
    </div>

    <h2>Disclaimers</h2>
    <div class="terms-details">
        We make no express or implied warranties or representations with respect to the Program or any products sold
        through
        the
        Program (including, without limitation, warranties of fitness, merchantability, noninfringement, or any implied
        warranties arising out of a course of performance, dealing, or trade usage). In addition, we make no
        representation
        that
        the operation of the The Bootstrap Themes will be uninterrupted or error-free, and we will not be liable for the
        consequences of any interruptions or errors.
    </div>

    <h2>Ownership</h2>
    <div class="terms-details">
        Once you create a listing, you have to close it before 7 days. After the period of 7 days, the listing will be
        managed by the admin.
        You cannot back out from the process after the listing is closed. You must sell the product to the highest
        bidder and
        complete payment process.
        We provide our products without any warranty, as it is. You cannot
        hold our legit person accountable to any kind of damage including, but not limited to direct, indirect, special,
        incidental or consequential damages or other losses caused due to inefficiency in using our products.
    </div>

    <h2>Email</h2>
    <div class="terms-details">
        We occasionally send you emails concerned with the purchase of the product(s) from our company. We also send you
        email
        newsletters concerning the WordPress and bootstrap themes promotions and updates. We assure you that we do not
        sell
        or
        release your email to any third party vendors. You may withdraw your emails at any time without fine or penalty.
    </div>

    <h2>License Agreement</h2>
    <div class="terms-details">
        We believe that you have provided your full consent and read and agreed to the Terms and Conditions mentioned
        and
        explained on this page while purchasing our product(s). We hold the right to change or modify the present Terms
        and
        Conditions solely without any prior consent or notice.
    </div>

</div>

{% include 'auctions/footer.html' %}

{% endblock %}